body
    .container
        .row
            .col-sm-6.content
                p Hi #{recipientName},
                
                p Thank you for sending me your email for the #{jobRole} position.

                p.
                    The deadline for all applications is #{deadlineDate}. After this date, 
                    we will review all CVs and contact those who have been successful at 
                    getting through to the next stage. 

                p We will be in touch with an update in due course. 

                p Many thanks,
                p #{senderName}
